doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical!
    p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culdeserunt mollit anim id est laborum."

    p This is a ul generated from pug template
    ul
      li Be sure to install pug using npm
      li modify the app to have the view engine use pug
      li create the templates in the view folder
      li point the response.render to the template